<ul>
    <li> <%= @bulk_discount&.rule&.name %> </li>
    <li> <%= @bulk_discount&.rule&.discount %> </li>
    <li> <%= @bulk_discount.items_number %> </li>
    <li> <%= @bulk_discount.item_code %> </li>
</ul>